body {
  background-color: #282c34;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app_title {
  color: orange;
}

.filter_container {
  width: 300px;
  height: 100px;
  background-color: green;
}

