.project_container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 350px);
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  padding: 30px;
  gap: 15px;
  grid-template-areas:
    "   item1   item10  item5  item5  .   "
    "   item3  item10  item5  item5  .   "
    "   item9   item9   item2  item2  .   "
    "   item4   item8   item7  item7  .   "
    "   item4   item6   item6  item6  .   ";
}

.item1 {
  grid-area: item1;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item2 {
  grid-area: item2;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item3 {
  grid-area: item3;
  background-color: green;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item4 {
  grid-area: item4;
  background-color: blue;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item5 {
  grid-area: item5;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
  padding: 20px;
}

.item6 {
  grid-area: item6;
  background-color: #faebd7;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item7 {
  grid-area: item7;
  background-color: #5f9ea0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.item8 {
  grid-area: item8;
  background-color: #90ee90;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item9 {
  grid-area: item9;
  background-color: #ffa07a;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

.item10 {
  grid-area: item10;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}

@media screen and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-rows: repeat(7, 100px);
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    padding: 30px;
    gap: 10px;
    grid-template-areas:
      "   item2  item2  "
      "   item1  .      "
      "   item3  .      "
      "   item4  .      "
      "   item5  .      "
      "   item6  .      "
      "   item7  .      "
      "   item8  .      ";
  }
}
