body {
  background-color: #282c34;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app_title {
  color: orange;
}

.card_project_border {
  width: 200px;
  height: 250px;
  border: 2px solid white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}